/* Filtering Data buttons */
._ul_checkbox {
  background-color: lightgray;
  border-radius: 2em;
  text-align: center;
}
._ul_checkbox li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

._ul_checkbox li input {
  margin-right: 4px;
}

._ul_product ul li {
  display: inline;
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
}

mat-card {
  width: 500px;
  height: 500px;
  display: inline-block;
  margin: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  max-width: 400px;
  max-height: 300px;
  margin: 10px;
}

mat-card-content {
  font-size: small;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-card-title {
  max-width: 350px;
  max-height: 100px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

mat-card-subtitle {
  display: block;
  max-width: 350px;
  max-height: 100px;
}

mat-card-content {
  margin-top: 10px;
  display: block;
  max-width: 350px;
  max-height: 300px;
}

button {
  margin: 30px 30px 0 0;
}
