<div class="container">
  <div class="_ul_checkbox">
    <ul>
      <li *ngFor="let filterCheckBoxes of filterCheckBoxesArray">
        <mat-checkbox
          (change)="onChange($event)"
          [value]="filterCheckBoxes.tech"
        >
          {{ filterCheckBoxes.tech }}
        </mat-checkbox>
      </li>
    </ul>
  </div>

  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let productArrays of productArray">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title> {{ productArrays.title }}</mat-card-title>
          <mat-card-subtitle>{{ productArrays.tech }}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img
          mat-card-image
          [src]="productArrays.imageUrl"
          alt="Product image"
        /> -->
        <mat-card-content>
          {{ productArrays.description }}
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-row">
            <button mat-fab extended color="primary">
              <mat-icon>backup</mat-icon>
              Project
            </button>
            <button mat-fab extended color="accent">
              <mat-icon>code</mat-icon>
              Code
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
